{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
  <main class="container mx-auto p-6 md:p-10">
    <div class="mb-8">
      <div>
        <h1 class="text-3xl font-bold">Отправка Email</h1>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="border bg-card text-card-foreground rounded-md shadow-lg" data-v0-t="card">
        <div class="flex flex-col space-y-1.5 bg-blue-200 p-4">
          <h3 class="font-semibold text-lg">Электронная почта</h3>
        </div>
        <div class="p-4">
          {% if success_message %}
            <p class="text-green-500">{{ success_message }}</p>
          {% elif error_message %}
            <p class="text-red-500">{{ error_message }}</p>
          {% endif %}

          <p class="text-gray-500">
            Пожалуйста, введите свой адрес электронной почты в поле ниже. Мы отправим результаты Вашего тестирования на этот адрес.
          </p>
          <form method="post" action="{% url 'enter_email' %}" class="mt-4">
            {% csrf_token %}
            <input
              type="email"
              id="email"
              name="email"
              class="border border-gray-300 rounded-md p-2 w-full mb-4"
              placeholder="Email"
              required=""
            />
            <button
              class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 px-4 py-2 bg-blue-500 text-white w-full"
              type="submit"
            >
              Отправить
            </button>
            <div class="flex justify-center items-center mt-1">
            <a class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-gray-700 h-10 px-4 py-2 bg-gray-900 text-white w-full mt-4" href="{% url 'home' %}">На главную страницу</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

