{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Тест: Шкала депрессии Бэка</h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post" action="{% url 'test' %}">
            {% csrf_token %}
            {% for question in questions %}
                <fieldset>
                    <legend>{{ question.question_text }}</legend>
                    {% for choice in question.choice_set.all %}
                        <label>
                            <input type="radio" name="question_{{ question.id }}" value="{{ choice.id }}">
                            {{ choice.choice_text }}
                        </label><br>
                    {% endfor %}
                </fieldset>
            {% endfor %}
            <input type="submit" value="{% if currentQuestion == total_questions|add:'-1' %}Закончить{% else %}Далее{% endif %}">
        </form>
    </div>
{% endblock %}