<!DOCTYPE html>
<html lang="ru">

<head>
<!--    {% load static %}-->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %}"ВЫСОТА" центр когнитивных технологий{% endblock %}</title>
</head>

<body>
<div class="background"></div>
    <main class="container mx-auto p-6 md:p-10 bg-fixed">
        <div class="flex justify-between mb-8">
            <div>
                <h1 class="text-4xl text-shadow-md text-blue-700 font-bold">ВЫСОТА центр когнитивных технологий</h1>
                <p class="text-2xl text-gray-900 font-bold mt-2">Психологические тесты </p>
            </div>
            <div class="flex gap-4">
                {% if user.is_authenticated %}
                    <button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-blue-500 text-white h-10 px-4 py-2 mt-4 hover:bg-gray-500 hover:transform hover:translate-y-px"
                        onclick="window.location.href='{% url 'logout' %}'">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="w-4 h-4 mr-2"
                        >
                          <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                          <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                        Выйти
                    </button>
                    <button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-green-500 text-white hover:bg-black h-10 px-4 py-2 mt-4"
                        onclick="window.location.href='{% url 'view_results' %}'">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="w-4 h-4 mr-2"
                        >
                          <path d="M9.5 2A2.5 2.5 0 0 1 12 4.5v15a2.5 2.5 0 0 1-4.96.44 2.5 2.5 0 0 1-2.96-3.08 3 3 0 0 1-.34-5.58 2.5 2.5 0 0 1 1.32-4.24 2.5 2.5 0 0 1 1.98-3A2.5 2.5 0 0 1 9.5 2Z"></path>
                          <path d="M14.5 2A2.5 2.5 0 0 0 12 4.5v15a2.5 2.5 0 0 0 4.96.44 2.5 2.5 0 0 0 2.96-3.08 3 3 0 0 0 .34-5.58 2.5 2.5 0 0 0-1.32-4.24 2.5 2.5 0 0 0-1.98-3A2.5 2.5 0 0 0 14.5 2Z"></path>
                        </svg>
                        Результаты тестов
                    </button>
                {% else %}
                    <button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-blue-500 text-white hover:bg-black h-10 px-4 py-2 mt-4"
                        onclick="window.location.href='{% url 'login' %}'">
                            <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="w-4 h-4 mr-2"
                        >
                          <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                          <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                        Вход
                    </button>
                    <button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-green-500 text-white hover:bg-black h-10 px-4 py-2 mt-4"
                        onclick="window.location.href='{% url 'signup' %}'">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="w-4 h-4 mr-2"
                        >
                          <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path>
                          <polyline points="10 17 15 12 10 7"></polyline>
                          <line x1="15" x2="3" y1="12" y2="12"></line>
                        </svg>
                        Регистрация
                    </button>
                {% endif %}
            </div>
        </div>
        {% block content %}
            {% if user.is_authenticated %}
            <div class="p-6 mb-8 rounded-md">
                <h2 class="text-2xl font-semibold mb-2">Добро пожаловать {{user.username}}!</h2>
                <p class="text-xl text-gray-900 mb-2">Готовы пройти тестирование? Тогды выбирайте тест и нажимайте на кнопку "Начать тест"</p>
            </div>
            {% else %}
                <div class="p-6 mb-8 rounded-md">
                <h2 class="text-2xl font-semibold mb-2">Вы не авторизованы!</h2>
                <p class="text-xl text-gray-900">Готовы пройти тестирование? Тогды выбирайте тест и нажимайте на кнопку "Начать тест"</p>
            </div>
            {% endif %}
        <div class="grid grid-cols-2 md:grid-cols-5 gap-4 p-8">
            <div class="border bg-card text-card-foreground rounded-md shadow-2xl card-container" data-v0-t="card" style="transition: transform 0.3s ease;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                <div class="flex flex-col rounded-md space-y-1.5 bg-blue-200 p-4 ">
                    <h3 class="font-semibold text-xl">Шкала депрессии Бэка (BDI)</h3>
                    <div class="inline-flex items-center rounded-full border px-2.5 py-0.5 w-fit text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80 mt-2">
                        21 вопрос
                    </div>
                </div>
                <div class="p-4">
                    <p class="text-gray-700">Тест позволяет определить уровень депресии.</p>
                    <button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-black text-white hover:bg-gray-800 h-10 px-4 py-2 mt-4" onclick="window.location.href='{% url 'test' %}'">
                        Начать тест
                    </button>
                </div>
            </div>
            <div class="border bg-card text-card-foreground rounded-md shadow-2xl card-container" data-v0-t="card" style="transition: transform 0.3s ease;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                <div class="flex flex-col rounded-md space-y-1.5 bg-blue-200 p-4">
                    <h3 class="font-semibold text-xl">Шкала тревоги Бека (BAI)</h3>
                    <div class="inline-flex items-center rounded-full border px-2.5 py-0.5 w-fit text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80 mt-2">
                        21 вопрос
                    </div>
                </div>
                <div class="p-4">
                    <p class="text-gray-700">Тест позволяет выявить уровень тревоги.</p>
                    <button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-black text-white hover:bg-gray-800 h-10 px-4 py-2 mt-4">
                        Начать тест
                    </button>
                </div>
            </div>
            <div class="border bg-card text-card-foreground rounded-md shadow-2xl card-container" data-v0-t="card" style="transition: transform 0.3s ease;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                <div class="flex flex-col rounded-md space-y-1.5 bg-blue-200 p-4">
                    <h3 class="font-semibold text-xl">Шкала самосострадания Кристин Нефф (SCS)</h3>
                    <div class="inline-flex items-center rounded-full border px-2.5 py-0.5 w-fit text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80 mt-2">
                        26 вопросов
                    </div>
                </div>
                <div class="p-4">
                    <p class="text-gray-700">Тест позволяет определить уровень самосострадания.</p>
                    <button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-black text-white hover:bg-gray-800 h-10 px-4 py-2 mt-4">
                        Начать тест
                    </button>
                </div>
            </div>
            <div class="border bg-card text-card-foreground rounded-md shadow-2xl card-container" data-v0-t="card" style="transition: transform 0.3s ease;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                <div class="flex flex-col rounded-md space-y-1.5 bg-blue-200 p-4">
                    <h3 class="font-semibold text-xl">Шкала импульсивности Барратта (BIS-11)</h3>
                    <div class="inline-flex items-center rounded-full border px-2.5 py-0.5 w-fit text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80 mt-2">
                        30 вопросов
                    </div>
                </div>
                <div class="p-4">
                    <p class="text-gray-700">Тест дает оценку импульсивности и составляющих её факторов.</p>
                    <button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-black text-white hover:bg-gray-800 h-10 px-4 py-2 mt-4" onclick="window.location.href='{% url 'test' %}'">
                        Начать тест
                    </button>
                </div>
            </div>
            <div class="border bg-card text-card-foreground rounded-md shadow-2xl card-container" data-v0-t="card" style="transition: transform 0.3s ease;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                <div class="flex flex-col rounded-md space-y-1.5 bg-blue-200 p-4">
                    <h3 class="font-semibold text-xl">Шкала оценки пищевого поведения (EDI)</h3>
                    <div class="inline-flex items-center rounded-full border px-2.5 py-0.5 w-fit text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80 mt-2">
                        51 вопрос
                    </div>
                </div>
                <div class="p-4">
                    <p class="text-gray-700">Эта шкала измеряет различные предпочтения, ощущения и поведение.</p>
                    <button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-black text-white hover:bg-gray-800 h-10 px-4 py-2 mt-4" onclick="window.location.href='{% url 'test' %}'">
                        Начать тест
                    </button>
                </div>
            </div>
        </div>
        {% endblock %}
    </main>
<!--    <script src="{% static 'main.js' %}"></script>-->
</body>
</html>

